*{
    font-family: 'Raleway', sans-serif;
    margin:0%;
}
.huge{
    height: 300px;
  
}
.first{
    background-image: url(pexels-sebastian-srensen-1276518.jpg);
    width:100%;
    background-position: center;
    height:200px;
    
}
.one{
 
    text-align: center;
}
.one >h1{
   color:white;
   padding:5vh;
   font-weight: 100;
   font-size: 50px;
}
.one >b{
    color: white;
   font-weight: 800;
   font-size: 50px;
}
.one >h4{
    color: white;
    margin-bottom: 3vh;
   
}
.non {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 22%;
    margin: auto;
}
.non >h4 >a{
    color: white;
    margin-bottom: 3vh;
    text-decoration: none;
   
}

.second {
    width:85%;
    margin:auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 480px;
}
.two >img, h1, h5, p{
    padding: 1.5vh;;
}
.two >img{
    width: 280px;
    height:200px;
}
.two >h1{
    font-size: 25px;
    font-weight: 800;
    color: black;
}
.two >h5{
    color: #6ac610;
}
.two >p{
    color: grey;
    font-weight: 400;
}
.sm{
   margin-left: 1vh;
    padding: 15px 30px;
    font-size: 13px;
    font-weight: 700;
    color: black ;
    border: 2px solid grey ;
    border-radius: 3px;
   background-color: white;
}
.sm:hover{
    background-color: rgba(0, 0, 0, 0.925);
    color: white;
    border-color: white;
}
.three >img, h1, h5, p{
    padding: 1.5vh;;
}
.three >img{
    width: 280px;
    height:200px;
}
.three >h1{
    font-size: 25px;
    font-weight: 800;
    color: black;
}
.three >h5{
    color: #6ac610;
}
.three >p{
    color: grey;
    font-weight: 400;
}
.ms{
   margin-left: 1vh;
    padding: 15px 30px;
    font-size: 13px;
    font-weight: 700;
    color: black ;
    border: 2px solid grey ;
    border-radius: 3px;
   background-color: white;
}
.ms:hover{
    background-color: rgba(0, 0, 0, 0.925);
    color: white;
    border-color: white;
}
.ok {
    width:85%;
    margin:auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height:500px;
}
.bbq{

display: flex;
flex-direction: row;
justify-content: space-between;
width:30%;
margin:auto;
margin-left: 20vh;
}
.hp >button{
   
        margin-left: 1vh;
         padding: 12px 20px;
         font-size: 13px;
         font-weight: 700;
         color: black ;
         border: 2px solid grey ;
         border-radius: 3px;
        background-color: white;
     }
     .hp >button:hover{
         background-color: rgba(0, 0, 0, 0.925);
         color: white;
         border-color: white;
     }
     .bbq{
         height: 120px;
     }




     .sev >h1{
        color: white;
        font-size: 48px;
        font-weight: 900;
    
    }
    .sev >h1{
        position: relative;
        top:-300px;
        text-align: center;
    }
    .sev >h1 >b{
        color:#6ac610;
        font-size: 48px;
        font-weight: 900;
    }
    .six{
        background-image: url(pexels-kaboompics-com-6427.jpg);
        width: 100%;
        height:400px;
        background-position: bottom;
        background-repeat: no-repeat;
        background-size:cover ;
        position: relative;
    }
    .eig{
        position: relative;
        top:-280px;
        text-align: center;
    }
    .eig >p{
        color: white;
        font-size: 25px;
        font-weight: 100;
    }
    .nin >.ac{
        padding: 11px 25px;
        font-size: 13px;
        font-weight: 700;
        background: #6ac610;
        color: #ffffff ;
        border: 2px solid #6ac610 ;
        border-radius: 3px;
        position: relative;
        top:-250px;
        left:600px;
    }
    .ac:hover{
        background-color: white;
        color: #6ac610;
        border-color: #6ac610;
    }
    .ts{
        background: none;
        padding: 11px 25px;
        font-size: 13px;
        font-weight: 700;
        color: #ffffff ;
        border: 2px solid white ;
        border-radius: 3px;
        position: relative;
        top:-250px;
        left:600px;
    }
    .ts:hover{
        background-color: white;
        color: #6ac610;
        border-color: white;
    }
    .mi{
        background-image: url(green.PNG);
        width:100%;
        height:200px;
        margin: 0%;
    }
    .sap{
      height:380px;
    }
    .op >button{
        background: none;
        padding: 11px 25px;
        font-size: 13px;
        font-weight: 700;
        color: #ffffff ;
        border: 2px solid white ;
        border-radius: 3px;
    }
    .op >button:hover{
        background-color: white;
        color: #6ac610;
        border-color: white;
    }
    .rc {
        color: white;
    
    }
    .zz{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width:80%;
        margin: auto;
        position: relative;
        top:-115px;
    }
    .wg{
        height: 100px;
    }
