*{
    font-family: 'Raleway', sans-serif;
    margin:0%;
}
.big{
    height: 300px;
  
}
.start{
    background-image: url(pexels-sebastian-srensen-1276518.jpg);
    width:100%;
    background-position: center;
    height:200px;
    
}
.non {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 22%;
    margin: auto;
}
.non >h4 >a{
    color: white;
    margin-bottom: 3vh;
    text-decoration: none;
   
}
.text{
 
    text-align: center;
}
.text >h1{
   color:white;
   padding:5vh;
   font-weight: 100;
   font-size: 50px;
}
.text >b{
    color: white;
   font-weight: 800;
   font-size: 50px;
}
.text >h4{
    color: white;
    margin-bottom: 3vh;
}
.aa >h1{
    font-size: 70px;
    color: #6ac610;
    font-weight: 900;
}



.aa >h2{
    font-size: 40px;
    color: black;
    font-weight: 800;
}
.aa {
    margin: auto;
    text-align: center;
    height:150px;
}

.cc{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   width:88%;
   margin:auto;
   height:220px;
  
}
.bb>p{
    text-align: center;
    color: grey;
}
.bb{
    height:120px;
}
.ab >img{
    height:60px;
    width: 60px;
    padding:3px;
}

.ab >p{
    font-weight: 600;
    color: grey;
}
.ab >h2{
    font-weight: 800;
}

.dd{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   width:88%;
   margin:auto;
  height:310px;
}
.cd >img{
    height:60px;
    width: 60px;
    padding:3px;
    
}
.cd >img:hover{
    border:2px solid #30cc74 ;
    border-radius: 0px 20px;
}
.ab >img:hover{
    border:2px solid#30cc74 ;
    border-radius: 0px 20px;
}
.ab,.cd >img:hover{
    padding: 1vh;
}
.cd >p{
    font-weight: 600;
    color: grey;
}
.cd >h2{
    font-weight: 800;
}
.ee{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
   width:80%;
   margin:auto;
  height:450px;
  
}
.ef{
    margin-left: 3vh;
}
.p >h1 >b{
    color: #6ac610;
    font-weight: 300;
}
.p >h1{
    font-size: 36px;
    font-weight: 900;
padding:1vh;
}
.q >h2 >b{
    color: #6ac610;
}
.q >h2{
    font-weight: 300;
    font: 15px;
    padding:1vh;
}
.r >p{
    font-weight: 600;
    color: grey;
    padding:2vh;
}
.s{
    padding: 2vh;  
}
.s >ul >li{
    list-style-type: disc;
  font-weight: 700;
  
}
.but{
    margin-left: 5vh;
}
.but >button{
    padding: 11px 25px;
    font-size: 13px;
    font-weight: 700;
    background: #6ac610;
    color: #ffffff ;
    border: 2px solid #6ac610 ;
    border-radius: 3px;
    margin-top: 2vh;
}
.but >button:hover{
    color: #6ac610;
    border-color:#6ac610;
    background-color: white;
}
.i >h1{
    color: white;
    font-size: 48px;
    font-weight: 900;

}
.i >h1{
    position: relative;
    top:-300px;
    text-align: center;
}
.i >h1 >b{
    color:#6ac610;
    font-size: 48px;
    font-weight: 900;
}
.h{
    background-image: url(pexels-kaboompics-com-6427.jpg);
    width: 100%;
    height:400px;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size:cover ;
    position: relative;
}
.j{
    position: relative;
    top:-280px;
    text-align: center;
}
.j >p{
    color: white;
    font-size: 25px;
    font-weight: 100;
}
.k >.ll{
    padding: 11px 25px;
    font-size: 13px;
    font-weight: 700;
    background: #6ac610;
    color: #ffffff ;
    border: 2px solid #6ac610 ;
    border-radius: 3px;
    position: relative;
    top:-250px;
    left:600px;
}
.ll:hover{
    background-color: white;
    color: #6ac610;
    border-color: #6ac610;
}
.mm{
    background: none;
    padding: 11px 25px;
    font-size: 13px;
    font-weight: 700;
    color: #ffffff ;
    border: 2px solid white ;
    border-radius: 3px;
    position: relative;
    top:-250px;
    left:600px;
}
.mm:hover{
    background-color: white;
    color: #6ac610;
    border-color: white;
}
.x{
    background-image: url(green.PNG);
    width:100%;
    height:200px;
    margin: 0%;
}
.ff{
  height:380px;
}
.z >button{
    background: none;
    padding: 11px 25px;
    font-size: 13px;
    font-weight: 700;
    color: #ffffff ;
    border: 2px solid white ;
    border-radius: 3px;
}
.z >button:hover{
    background-color: white;
    color: #6ac610;
    border-color: white;
}
.y {
    color: white;

}
.zz{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width:80%;
    margin: auto;
    position: relative;
    top:-115px;
}
.gg{
    height: 100px;
}
